.profile-picture {
  margin: 160px auto 40px auto;
  border-radius: 100%;
  width: 130px;
  height: 130px;
}

.profile-name {
  margin-bottom: 200px;
  margin-bottom: 160px;
  font-weight: 700;
  font-size: 55px;
  text-align: center;
}

/* TODO (Alex):
- Bouton modifier histoire
- Bouton enregistrer brouillons (visualizer page)
- Trouver pourquoi le swiper est trop haut dans l'accueil, mais pas dans les profils
*/
