.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 70px;
  padding: 0 150px;
  text-align: center;
  img {
    position: relative;
    width: 28vw;
  }
  p {
    font-size: 33vw;
  }
}

h1 {
  margin-top: 60px;
  font-weight: 500;
  font-size: 42px;
}
.flex-container-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  max-height: 500px;
}
.btn-accueil {
  border: 1px solid var(--primary-text-color);
  border-radius: 25px;
  background-color: transparent;
  padding: 12px 20px;
  color: var(--primary-text-color);
}
