.error404-page-container {
  height: auto;
  overflow-y: hidden;
}
.error404-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 70px;
  padding: 0 150px;
  margin-top: 60px;
  text-align: center;
  img {
    position: relative;
    width: 26vw;
  }
  p {
    font-size: 33vw;
    color: var(--primary-text-color);
  }
}

.error404-h1 {
  margin-top: 60px;
  font-weight: 500;
  font-size: 42px;
}
.error404-flex-container-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 500px;
}
.error404-btn-accueil {
  border-radius: 25px;
  background-color: transparent;
  padding: 12px 20px;
  transition: background-position 0.6s ease;
  border: none;
  border-radius: 25px;
  background: linear-gradient(
    90deg,
    rgb(34, 34, 34) 0%,
    rgb(110, 110, 110) 51%,
    rgb(34, 34, 34) 100%
  );
  background-position: left bottom;
  background-size: 200% 100%;
  padding: 12px 20px;
  color: var(--white);
  &:hover {
    background-position: right bottom;
  }
}
.error404-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
}
