/* ----------Footer----------- */
footer {
  width: 100vw;
  height: 80vh;
  background-color: var(--white-gray);
  /* position: absolute;
  bottom: 0; */
}

.footer-container {
  width: 85vw;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.footer-hr {
  margin: 30px 0;
}


.footer-text-container {
  display: flex;
  justify-content: space-between;
}

.footer-text {
  font-weight: 300;
  font-size: 18px;
  color: var(--secondary-text-color);
}

.footer-name {
  font-weight: 700;
}