/* ----------Header----------- */

html {
  scroll-behavior: smooth;
}

.main-page {
  width: 100vw;
}

.main-header {
  top: 0;
  margin: 0 auto;
  width: calc(92vw);
}

.bg {
  position: absolute;
  z-index: -1;
  width: 100vw;
  object-fit: cover;
}

.h1-header {
  margin-bottom: 50px;
  width: 100%;
  color: white;
  font-weight: 500;
  font-size: 100px;
  line-height: 100%;
  text-align: center;
}

.h2-header {
  margin-top: 170px;
  margin-bottom: 35px;
  width: 100%;
  color: white;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
}

.h3-header {
  margin: 0 auto 50px auto;
  width: 50%;
  color: white;
  color: white;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}

.section-title {
  margin-left: 4vw;
  scroll-margin-top: 80px;
}

.hero {
  display: flex;
  position: relative;
  justify-content: center;
  justify-self: center;
  opacity: 0;
  margin: 110px 4vw 0px 4vw;
  width: 100%;
  height: calc(110vh - 110px);
  img {
    position: absolute;
    z-index: -1;
    border-radius: 80px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.main-input-container {
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 0.2s ease-out;
  margin: 0 auto;
  border-radius: 30px;
  background-color: var(--white-gray);
  width: 400px;
  input {
    padding: 15px 25px;
    width: 100%;
  }
}
.main-input-container:focus-within {
  outline: 1px solid #9d14ff;
  box-shadow: 0px 0px 25px 2px rgb(189, 97, 254);
}

.main-input:focus-visible {
  outline: none;
  border: none;
}

/* Question prof: pourquoi quand je vais sur la page d'inscription et je retourne sur la page d'accueil, le input a un border?
Meme chose pour quand je vais dans l'overview d'une histoire et que je revins sur la page d'accueil*/
.btn-input {
  transition: background-position 0.6s ease;
  margin: 8px;
  border: 1px solid white;
  border-radius: 1000px;
  background: linear-gradient(
    90deg,
    rgba(142, 16, 231, 1) 0%,
    rgba(220, 130, 255, 1) 51%,
    rgba(142, 16, 231, 1) 100%
  );
  background-position: left bottom;
  background-size: 200% 100%;
  padding: 10px 20px;
  color: white;
  color: white;
  &:hover {
    background-position: right bottom;
  }
}

.hero-container > * {
  opacity: 0;
}

.main-loader {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  /* background-color: white; */
  width: 100vw;
  height: 100vh;
}

.loader-number-container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.loader-number {
  position: absolute;
  opacity: 0;
  z-index: 1000;
  background: linear-gradient(135deg, var(--purple) 30%, var(--blue) 100%);
  background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: 300px;
  text-align: center;
}

.loader-logo-container {
  pointer-events: none;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.loader-logo {
  position: fixed;
  opacity: 0;
  z-index: 1000;
  /* margin: 0 4vw;   */
  width: 700px;
}

.gs-dev-tools {
  z-index: 100000;
}
