/* ----------Header----------- */
.section-title{
  margin-left: 7.5vw;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.h1-header {
  margin: 110px 0 140px 7.5vw;
  width: 50%;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 100px;
}
