.profile-picture {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    margin: 160px auto 40px auto;
}

.profile-name {
    text-align: center;
    margin-bottom: 200px;
    margin-bottom: 160px;
    font-weight: 700;
    font-size: 55px;
}