.nav-list {
  display: flex;
  gap: 50px;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  font-size: 19px;
  background: none;
  border: none;
  cursor: pointer;
}

.logo {
  width: 120px;
}

.btn-creer {
  border-radius: 25px;
  padding: 12px 20px;
  color: white;
  background-color: var(--primary-text-color);
}