.header-nav {
  z-index: 11;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-end;
  margin-top: 40px;
  position: relative;
  width: 85vw;
  margin: 40px auto 0 auto;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-nav {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 19px;
}

.logo {
  width: 120px;
}

.btn-creer {
  border-radius: 25px;
  background-color: var(--primary-text-color);
  padding: 12px 20px;
  color: white;
}
