.header-nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  align-items: flex-end;
  z-index: 11;
  margin-top: 40px;
  margin: 40px auto;
  width: 85vw;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-nav {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 17px;
}

.logo {
  width: 120px;
}

.btn-create {
  border-radius: 25px;
  background-color: var(--primary-text-color);
  padding: 12px 20px;
  color: white;
}

.account-icon {
  img {
    width: 30px;
  }
}

.account-name {
  font-weight: 700;
}

.account-flex-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-compte.white {
  color: white;
}

.btn-create.white {
  border: 1px solid white;
  background-color: transparent;
  color: white;

  &:hover {
    background-color: white;
    color: var(--primary-text-color);
  }
}
