.page-container {
  width: 100vw;
}

.flex-container {
  display: flex;
  align-items: center;
  gap: 200px;
  margin: 20px 150px 180px 150px;
}

.sign-in-up-h1 {
  font-weight: 700;
  font-size: 120px;
  line-height: 100%;
}

.user-form {
  display: flex;
  flex-direction: column;
  margin: 60px auto 0 auto;
  border: 1px solid var(--translucent-purple);
  border-radius: 25px;
  background-color: white;
  padding: 28px;
  width: 550px;
}
.h1-user-form {
  background-image: linear-gradient(to right, #8e10e7, #dc82ff);
  background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}
.h2-user-form {
  margin: 0 0 50px 0;
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 16px;

  label {
    margin-bottom: 5px;
    font-weight: 700;
  }
}

textarea,
input {
  border: 1px solid var(--translucent-purple);
  border-radius: 15px;
  background-color: var(--white-gray);
  padding: 12px;

  &:focus {
    box-shadow: 0px 0px 25px 2px rgba(188, 97, 254, 0.5);
  }

  &:focus-visible {
    outline: 1px solid #9d14ff;
  }
}

.btn-form {
  cursor: pointer;
  border-radius: 35px;
  padding: 20px 40px;
  width: 100%;
  font-weight: 700;
  font-size: 17px;
}

.btn-form-sign-in,
.btn-form-sign-up {
  background-image: linear-gradient(to right, #8e10e7, #dc82ff);

  color: white;
}

.user-form-hr {
  margin: 20px 0;
  color: var(--light-gray);
}

.btn-form-github {
  position: relative;
  background-image: linear-gradient(to right, #1d1d1d, #535353);
  color: white;
}

.github-logo {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding-left: 20px;
  width: 55px;
}

.switch-form {
  margin-top: 30px;
  text-align: center;
    color: var(--secondary-text-color);
  span {
    color: var(--purple);
    font-weight: 700;
    margin-left: 10px;
  }
}
