/* ----------Section récemment publiées----------- */

.overview-page-container {
  width: auto;
  height: auto;
}

.story-card-container {
  position: relative;
  justify-self: center;
  margin: 250px 0 300px 0;
  border: 1px solid var(--purple);
  border-radius: 25px;
  background-color: white;
  padding: 30px;
  width: 1125px;
  height: 100%;
}

.story-card {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.overview-flex-1 {
  position: relative;
  width: 100%;
}
.overview-flex-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 550px;
}

.like-dislike-container {
  display: flex;
  gap: 25px;
  transition: all 0.3 ease;
  & > * {
    cursor: pointer;
    &:hover {
      opacity: 0.5;
      transition: all 0.3 ease;
    }
  }
}

.like-container,
.dislike-container {
  display: flex;
  gap: 5px;
  p {
    font-weight: 700;
  }
}

.overview-flex-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10;
  width: 550px;

  &:last-child a {
    justify-self: flex-end;
  }
}

.img-container {
  position: relative;
  width: 500px;
}

.overview-img {
  border-radius: 25px;
}

.read-button {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: background-position 0.6s ease;
  cursor: pointer;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 25px;
  background: linear-gradient(
    90deg,
    rgba(142, 16, 231, 1) 0%,
    rgba(220, 130, 255, 1) 51%,
    rgba(142, 16, 231, 1) 100%
  );
  background-position: left bottom;
  background-size: 200% 100%;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  overflow: hidden;
  color: white;
  color: white;
  color: white;
  font-weight: 500;
  &:hover {
    background-position: right bottom;
  }
}

.read-icon {
  margin-top: 2px;
  margin-left: 10px;
}

.overview-h3 {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 27px;
}

p {
  color: var(--secondary-text-color);
  font-weight: 300;
  font-size: 20px;
}

p.overview-synopsis {
  margin-bottom: 20px;
  font-size: 16px;
}

.author {
  cursor: pointer;
  font-weight: 700;
}

hr {
  margin: 100px 0;
  color: #b8b8b8;
}

.button-container {
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.btn-back {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
  margin: 0px 40px 40px 4vw;
  border: solid 1px var(--primary-text-color);
  border-radius: 25px;
  padding: 8px 15px;
  &:hover {
    background-color: var(--primary-text-color);
    color: white;
  }
}
