/* ----------Section récemment publiées----------- */

.overview-page-container {
  width: auto;
  height: auto;
}

.story-card-container {
  border: 1px solid var(--purple);
  border-radius: 25px;
  background-color: white;
  padding: 30px;
  height: 100%;
  width: 1125px;
  margin: 220px auto 0 auto;
}

.story-card {
  display: flex;
  position: relative;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
}

.overview-flex-1 {
  display: flex;
  flex-direction: column;
  width: 550px;

}

.overview-flex-2 {
  display: flex;
  flex-direction: column;
  width: 550px;
  justify-content: space-between;
  gap: 10;

  &:last-child a {
    justify-self: flex-end;
  }
}

.img-container {
  position: relative;
  width: 500px;
}

.overview-img {
  border-radius: 25px;
}

.overview-tags {
  display: flex;
  flex-direction: row;
  gap: 20px;
  top: 18px;
  left: 15px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 18;
  margin: 20px 0;

  .tag {
    background-color: var(--primary-text-color);
    border-radius: 15px;
    padding: 6px 15px;
    color: white;
  }

  .magic-tag {
    background: linear-gradient(to right, #8e10e7, #e6a6ff);
  }

  .action-tag {
    background: linear-gradient(to right, #ff1212, #ff985c);
  }

}

.read-button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 25px;
  background: #333333;
  color: white;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  font-weight: 500;
  overflow: hidden;
}

.read-button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 25px;
  background-image: linear-gradient(to right, #8e10e7, #dc82ff);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 0;
}

.read-button p {
  position: relative;
  z-index: 1;
  color: white;
  font-weight: 500;
  font-size: 19px;
}

.read-icon {
  z-index: 1;
}

.read-button:hover {
  border-color: white;
  color: white;
}

.read-button:hover::before {
  opacity: 1;
}

.read-button:hover p {
  color: white;
}


/* .btn-modify {

} */

.read-icon {
  /* position: absolute; */
  /* top: 50%; */
  margin-top: 2px;
  margin-left: 10px;

  /* transform: translateY(-50%); */
}

.overview-h3 {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 27px;
}

p {
  color: var(--secondary-text-color);
  font-weight: 300;
  font-size: 20px;
}

p.overview-synopsis {
  margin-bottom: 20px;
  font-size: 16px;
}

.author {
  cursor: pointer;
  font-weight: 700;
}

hr {
  margin: 100px 0;
  color: #b8b8b8;
}

.button-container {
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;

}