.story-form-container {
  width: 100vw;
  z-index: 10;
}

.h1-story-form {
  margin: 30px 0 20px 0;
  font-weight: 700;
  font-size: 55px;
  text-align: center;
}

.story-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto 200px auto;
  border: 1px solid var(--light-gray);
  border-radius: 25px;
  background-color: white;
  padding: 30px;
  width: 600px;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  font-size: 17px;

  label {
    margin-bottom: 10px;
  }
}

textarea,
input {
  transition: all 0.2s ease-out;
  border: 1px solid var(--translucent-purple);
  border-radius: 15px;
  background-color: var(--white-gray);
  padding: 12px;

  &:focus {
    box-shadow: 0px 0px 25px 2px rgba(188, 97, 254, 0.5);
  }

  &:focus-visible {
    outline: 1px solid #9d14ff;
  }
}

.btn-form {
  border-radius: 35px;
  padding: 20px 40px;
  width: 100%;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
}

.btn-form-banner-img {
  margin-bottom: 30px;
  background-color: var(--primary-text-color);
  color: white;
}

.btn-form-add-music {
  position: relative;
  border: 1px solid var(--primary-text-color);
  color: var(--primary-text-color);
}

.music-icon {
  position: absolute;
  left: 0;
  padding-left: 20px;
}

.story-form-hr {
  margin: 50px 0 50px 0;
  color: var(--light-gray);
}

.btn-form-continue {
  position: relative;
  background-color: var(--purple);
  color: white;
}

.btn-form-continue.greyed-out {
  position: relative;
  background-color: transparent;
  color: var(--light-gray);
  border: 1px solid var(--light-gray);

}

.popup-container {
  background-color: rgba(0, 0, 0, 0.288);
  backdrop-filter: blur(5px);
  /* filter: brightness(0.8); TO DO */
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.popup {
  position: relative;
  z-index: 11;
  width: 800px;
  height: auto;
  background-color: white;
  margin: 150px auto;
  border: 1px solid var(--translucent-purple);
  border-radius: 35;
  padding: 28px;

  h2 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 20px 0 40px 0;
  }
}

.btn-popup {
  cursor: pointer;
  border-radius: 35px;
  padding: 20px 40px;
  width: 100%;
  font-weight: 700;
  font-size: 17px;
  background-image: linear-gradient(to right, #1d1d1d, #535353);
  color: white;
}

.popup-banner-hr {
  margin: 50px 0;
  color: var(--light-gray);
}

/*  QUESTION PROF: Pourquoi la qsualité change temporairement lors de l'aniamtion du scale? (J'ai essayé will-change: transform */
.banner-grid {
  overflow: hidden;
  border-radius: 25px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  img {
    cursor: pointer;
    width: 100%;
    height: 170px;
    object-fit: cover;
    overflow: hidden;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
.img-wrapper {
  overflow: hidden;
}

.popup-close-icon {
  position: absolute;
  padding: 20px;
  top: 0;
  right: 0;
}

.music-list {
  display: flex;
  flex-direction: column;
}

.music-button {
  width: 100%;
  height: 40px;
  border: 1px solid var(--translucent-purple);
  border-radius: 25px;
  padding: 30px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    background-image: linear-gradient(to right, #8e10e7, #dc82ff);
    color: white;
    transition: all 0.3s;
  }
}
