.storyvisualizer-page {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  padding-top: 110px;
  width: 100vw;
  min-height: 100vh;
}

.storyvisualizer-title {
  margin: 100 auto 0 auto;
  width: 80vw;
  color: white;
  font-size: 40px;
  text-align: center;
}

.storyvisualizer-text {
  position: relative;
  opacity: 0;
  z-index: 0;
  margin: 50 auto 0 auto;
  width: 75vw;
  color: white;
  font-weight: 200;
  font-size: 30px;
  hyphens: manual;
  text-align: center;
  white-space: normal;
  /* word-break: normal; */
  overflow-wrap: break-word;
}

.storyvisualizer-continue-btn {
  display: flex;
  transition: color 0.3s ease-out;
  margin-top: 50px;
  margin: 60px 0 60px 0;
  border: solid 1px white;
  border-radius: 25px;
  padding: 10px 20px;
  width: auto;
  color: white;
  font-size: 18px;

  &:hover {
    background-color: white;
    color: var(--texte-histoire);
  }
}

.storyvisualizer-close-btn {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 50%;
  justify-content: center;
  transform: translateX(-50%);
  z-index: 10000;
  transition: color 0.3s ease-out;
  margin-top: 50px;
  margin: 60px auto;
  border: solid 1px white;
  border-radius: 100%;
  padding: 15px;
  width: auto;
  height: auto;
  color: white;
  font-size: 18px;

  &:hover {
    background-color: white;
    color: var(--texte-histoire);
  }
}

.theme-btn {
  position: absolute;
  top: 200px;
  left: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: solid 1px white;
  border-radius: 25px;
  padding: 10px 20px;
  color: white;

  &:hover {
    background-color: white;
    color: var(--texte-histoire);
  }
}

.storyvisualizer-choices-container {
  display: none;
  position: fixed;
  top: 0;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  align-items: stretch;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &.opened {
    display: grid;
    &.choice-3 {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
.storyvisualizer-choices-container.choice-3 {
  .storyvisualizer-choices {
    justify-content: space-between;
  }
  .storyvisualizer-choices:nth-child(2)::before,
  .storyvisualizer-choices:nth-child(2)::after {
    top: 50%;
    align-self: center;
    background: white;
    width: 1px;
    height: 80%;
    content: "";
  }
  .storyvisualizer-choices:nth-child(1),
  .storyvisualizer-choices:nth-child(3) {
    justify-content: center;
  }
}
.storyvisualizer-choices {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: stretch;
  z-index: 10;
  transition: background 0.3s ease;
  margin: 0 auto;
  /* padding: 30px; */
  width: 100%;
  height: 100%;
  color: white;
  font-size: 30px;
  text-align: center;
  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }
}

.storyvisualizer-hr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  border: 1px solid white;
  height: calc(100% - 140px);
  height: 50%;
  color: white;
}

.storyvisualizer-btn-back {
  display: flex;
  position: absolute;
  top: 210px;
  left: 0;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
  margin: 0px 40px 40px 4vw;
  border: solid 1px white;
  border-radius: 25px;
  padding: 8px 15px;
  color: white;

  &:hover {
    background-color: white;
    color: var(--primary-text-color);
  }
}

.storyvisualizer-flex-container {
  display: flex;
  left: 50%;
  justify-content: center;
  gap: 30px;
  z-index: 100000;
}

.storyvisualizer-confirm-btn {
  position: relative;
  z-index: 11;
}

.clone {
  position: absolute;
  top: 50%;
  left: 50%;
  justify-content: center;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: auto;
  font-size: 40px;
}

.backdrop-blur {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  backdrop-filter: none;
  transition: all 0.3s ease;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.backdrop-blur.open {
  backdrop-filter: blur(10px) brightness(0.65);
  transition: all 0.3s ease;
}

.choice-confirmation-indication {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 0;
  margin-top: 100px;
  width: 100%;
  pointer-events: none;
  color: white;
  font-size: 18px;
  text-align: center;
}

.storyvisualizer-node-img {
  margin: 50px auto;
  outline: 1px solid white;
  outline-offset: 9px;
  border-radius: 35px;
  width: 900px;
}
