.story-form-container {
  width: 100vw;
}

.h1-story-form {
  margin: 30px 0 20px 0;
  font-weight: 700;
  font-size: 55px;
  text-align: center;
}

.story-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  border: 1px solid var(--light-gray);
  border-radius: 25px;
  background-color: white;
  padding: 30px;
  width: 600px;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  font-size: 17px;

  label {
    margin-bottom: 10px;
  }
}

textarea,
input {
  transition: all 0.2s ease-out;
  border: 1px solid var(--translucent-purple);
  border-radius: 15px;
  background-color: var(--white-gray);
  padding: 12px;

  &:focus {
    box-shadow: 0px 0px 25px 2px rgba(188, 97, 254, 0.5);
  }

  &:focus-visible {
    outline: 1px solid #9d14ff;
  }
}

.btn-form {
  border-radius: 35px;
  padding: 20px 40px;
  width: 100%;
  font-weight: 700;
  font-size: 17px;
}

.btn-form-banner-img {
  margin-bottom: 30px;
  background-color: var(--primary-text-color);
  color: white;
}

.btn-form-add-music {
  position: relative;
  border: 1px solid var(--primary-text-color);
  color: var(--primary-text-color);
}

.music-icon {
  position: absolute;
  left: 0;
  padding-left: 20px;
}

.story-form-hr {
  margin: 50px 0 50px 0;
  color: var(--light-gray);
}

.btn-form-continue {
  position: relative;
  background-color: var(--purple);
  color: white;
}
