.nav-bg {
  position: fixed;
  border-bottom: solid 1px var(--light-gray);
  top: 0;
  width: 100%;
  height: 110px;
  z-index: 10;
  background-color: white;
}

.flex-container-toolbar {
  display: flex;
}

.tool-bar {
  /* position: absolute; */
  top: 0;
  left: 0;
  border-right: solid 1px var(--light-gray);
  height: 100%;
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: white;
}

.story-name {
  height: auto;
  padding: 20px;
  margin: 10px;
  font-size: 20px;
  background-color: white;
  font-weight: 700;
  color: var(--primary-text-color);
  border-radius: 25px;
}

textarea,
input {
  transition: all 0.2s ease-out;
  border: 1px solid var(--translucent-purple);
  border-radius: 15px;
  background-color: var(--white-gray);
  padding: 12px;
  margin-bottom: 20px;

  &:focus {
    box-shadow: 0px 0px 25px 2px rgba(188, 97, 254, 0.5);
  }

  &:focus-visible {
    outline: 1px solid #9d14ff;
  }
}

label {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
}

.switch-container {
  p {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
  }

  display: flex;
  justify-content: space-between;
  width: 80px;
  margin-bottom: 20px;
}

.btn-editor-appliquer {
  width: 100%;
  background-image: linear-gradient(to right, #8e10e7, #b700ff);
  border-radius: 25px;
  padding: 20px;
  font-weight: 500;
  transition: all 0.3s;
  cursor: pointer;
  text-align: center;
  color: white;

  &:hover {
    transition: all 0.3s;
  }
}

.bg-grid {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, #ddd 1px, transparent 1px),
    linear-gradient(to bottom, #ddd 1px, transparent 1px);
  background-size: 32px 32px;
}

.flex-container-icons {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  padding: 140px 30px 0 0;
}
.add-icon {
  margin-left: 20px;
}
/* 
.delete-icon {
} */

.icon {
  background-color: white;
  font-size: 20px;
  /* border: 1px solid var(--light-gray); */
  border-radius: 100%;
  padding: 10px;
}

.publish-icon {
  margin: 0 30px 30px 0;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 15px 40px;
  background-image: linear-gradient(to right, #8e10e7, #b700ff);
  border-radius: 25px;
  font-weight: 500;
  color: white;
}
