.storyvisualizer-page {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  padding-top: 110px;
  width: 100vw;
  height: 100vh;
}

.storyvisualizer-title {
  margin: 100 auto 0 auto;
  width: 80vw;
  color: white;
  font-size: 40px;
  text-align: center;
}

.storyvisualizer-text {
  margin: 50 auto 0 auto;
  width: 80vw;
  color: white;
  font-size: 30px;
  font-weight: 200;
  text-align: center;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: normal;
  hyphens: manual;
}

.storyvisualizer-continue-btn {
  display: flex;
  transition: color 0.3s ease-out;
  margin-top: 50px;
  margin: 60px 0 60px 0;
  border: solid 1px white;
  border-radius: 25px;
  padding: 10px 20px;
  width: auto;
  color: white;
  font-size: 18px;

  &:hover {
    background-color: white;
    color: var(--texte-histoire);
  }
}

.storyvisualizer-close-btn {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  justify-content: center;
  transform: translateX(-50%);
  transition: color 0.3s ease-out;
  margin-top: 50px;
  margin: 60px auto;
  border: solid 1px white;
  border-radius: 100%;
  padding: 15px;
  width: auto;
  height: auto;
  color: white;
  font-size: 18px;

  &:hover {
    background-color: white;
    color: var(--texte-histoire);
  }
}

.theme-btn {
  position: absolute;
  top: 200px;
  left: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: solid 1px white;
  border-radius: 25px;
  padding: 10px 20px;
  color: white;

  &:hover {
    background-color: white;
    color: var(--texte-histoire);
  }
}

.storyvisualizer-choices-container {
  /* display: grid; */
  display: none;
  position: absolute;
  top: 50%;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  align-items: stretch;
  transform: translateY(-50%);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
  width: 100vw;
  height: 100vh;
}

.storyvisualizer-choices-container.opened {
  display: grid;
}

.storyvisualizer-choices {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 30px;
  text-align: center;

  &:hover {
    background-color: rgba(255, 255, 255, 0.103);
  }
}

/* Question prof: pourquoi quand je fait pour lire une histoire et prendre mon choix, le hr n'a pas le bon style, mais qunad je refresh il a le bon? */
.storyvisualizer-hr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  border: 1px solid white;
  height: calc(100% - 140px);
  height: 50%;
  color: white;
}

.storyvisualizer-btn-back {
  display: flex;
  position: absolute;
  top: 210px;
  left: 0;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
  margin: 0px 40px 40px 4vw;
  border: solid 1px white;
  border-radius: 25px;
  padding: 8px 15px;
  color: white;

  &:hover {
    background-color: white;
    color: var(--primary-text-color);
  }
}


.storyvisualizer-flex-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 30px;
}