.story-text {
  font-size: 40px;
  text-align: center;
  width: 80vw;
  margin: 200 auto 0 auto;
  color: var(--texte-histoire);
}

.continue-btn {
  margin-top: 50px;
  padding: 10px 20px;
  margin: 60px auto;
  width: auto;
  border: solid 1px var(--texte-histoire);
  border-radius: 25px;
  font-size: 18px;
  display: flex;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--texte-histoire);
    color: white;
  }
}
