@import "tailwindcss";
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "CreateDisplay", sans-serif;
}

main{
    padding:  70px 150px;
}
/* globals.css */
@font-face {
  font-family: "CreateDisplay";
  src: url("/fonts/CreateDisplay-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CreateDisplay";
  src: url("/fonts/CreateDisplay-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "CreateDisplay";
  src: url("/fonts/CreateDisplay-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "CreateDisplay";
  src: url("/fonts/CreateDisplay-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "CreateDisplay";
  src: url("/fonts/CreateDisplay-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
