@import "tailwindcss";

:root {
  --primary-text-color: #333333;
  --primary-text-color-lighter: #494949;
  --secondary-text-color: #656565;
  --light-gray: #b8b8b8;
  --white-gray: #f5f5f5;
  --purple: #bc61fe;
  --light-purple: #cf8bff;
  --translucent-purple: #bd61fe8c;
  --blue: #5f9eff;
  --texte-histoire: #333333;
}

html {
  box-sizing: border-box;
  scrollbar-width: none;
  &::selection{
    background: var(--purple);
    color: white;
  }
}
body {
  background: var(--background);
  overflow-x: hidden;
  color: var(--primary-text-color);
  font-family: "CreatoDisplay", sans-serif;
}
.main-page {
  width: 100vw;
}

.page {
  width: 100vw;
  height: auto;
}

.react-flow__node {
  border: 0.5px solid var(--primary-text-color) !important;
  border-radius: 20px !important;
}

.btn {
  cursor: pointer;
}



@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/CreatoDisplay-Regular.otf") format("opentype");
  font-family: "CreatoDisplay";
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/CreatoDisplay-Bold.otf") format("opentype");
  font-family: "CreatoDisplay";
}

@font-face {
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/CreatoDisplay-Medium.otf") format("opentype");
  font-family: "CreatoDisplay";
}

@font-face {
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/CreatoDisplay-Light.otf") format("opentype");
  font-family: "CreatoDisplay";
}

@font-face {
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/CreatoDisplay-Thin.otf") format("opentype");
  font-family: "CreatoDisplay";
}
