@import "tailwindcss";

:root {
  --primary-text-color: #333333;
  --secondary-text-color: #656565;
  --light-gray: #b8b8b8;
  --white-gray: #f5f5f5;
  --purple: #bc61fe;
  --translucent-purple: #bd61fe8c;
  --blue: #5f9eff;
  --texte-histoire: #333333;
}

body {
  background: var(--background);
  overflow-x: hidden;
  color: var(--primary-text-color);
  font-family: "CreatoDisplay", sans-serif;
}

.page {
  width: 100vw;
  height: auto;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/CreatoDisplay-Regular.otf") format("opentype");
  font-family: "CreatoDisplay";
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/CreatoDisplay-Bold.otf") format("opentype");
  font-family: "CreatoDisplay";
}

@font-face {
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/CreatoDisplay-Medium.otf") format("opentype");
  font-family: "CreatoDisplay";
}

@font-face {
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/CreatoDisplay-Light.otf") format("opentype");
  font-family: "CreatoDisplay";
}

@font-face {
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/CreatoDisplay-Thin.otf") format("opentype");
  font-family: "CreatoDisplay";
}
